@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {font-size: 16px;
    font-family: Roboto, sans-serif;
    color:#0f141e;
    background-color: #DCDCDC;
    background: #f1f1f1;
    font-weight: normal;
}
.bio  { display: flex;
    margin-bottom: 20px;
   
}
.info-text { 
    margin-left: 40px;
    margin-top: 40px;
}

@media (max-width: 650px) {
    .bio {
        display: block;
        text-align: center;
    }
}

.container {
    max-width: 750px; 
   margin: auto;
   margin-bottom: 15px;
    }
 .photo {
    width: 200px;
    margin-top: 20px;
    border-radius: 28px;
    box-shadow: 4px 4px 14px rgba(165, 165, 165, 1);
 }   

ol, li, ul {
    font-size: 16px;
    font-family: Roboto, sans-serif;
}
th, td {
    font-size: 16px;
    font-family: Roboto, sans-serif;
}

.workexp {
    background: #91ffff;
    border: 1px solid #91ffff;  
    border-radius: 10px;
}
.hobbies {
    background: lightyellow;
    border: 10px; 
    border-color: red; 
    border-radius: 10px;
    }

h2{
    margin-bottom: 10px;
}
.btn {
   background: #111;
   color: white;
   padding-bottom: 12px;
   border: none;
   border-radius: 7px;
   cursor: pointer;
   font-family: inherit;
}
.btn:hover {
    opacity: 0.7;
    color: orange;
}
a:visited {
    color: blue;
}
a:hover {
    opacity: 0.7;
    color: orange;
    text-decoration:underline;
}
a:active {
    color: white;
}
a {
    text-decoration: none;
  
}
.form h2 {
    text-align: center;
    margin-right: 250px;
}
.form-group label {
    display: block;
    font-size: 14px;
    
}
.form-group input, 
.form-group textarea {
    width: 100%;
    box-sizing: border-box;
    border:none;
    background: transparent;
    border-bottom: 1px solid #ccc;
    color: #000;
    padding: 15px 0 10px;
    outline: none;
    font-family: inherit;
}
.form-row {
    margin-bottom: 10px;
    display: flex;
}
.form-row .form-group {
    margin-right: 20px;
    width: 50%;
}
@media (max-width: 650px) {
    .form-row {
        display: block;
    }
.form-row .form-group {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
}
}
.form-row .form-group:last-child {
    margin-right: 0;
}